<div class="container">
  <hashbang-header></hashbang-header>
  <div class="jumbotron text-center stage">
      

    <div class="row">
        <div class="input-group input-group-lg">
          <input type="text" class="form-control" placeholder="Enter text to hash..." maxlength="55" ng-model="hashString">
          <span class="input-group-btn">
            <button ng-click="startHash()" class="btn btn-default" type="button">Hash!</button>
          </span>
        </div><!-- /input-group -->
    </div><!-- /.row -->








  </div>
  <hr>
  <div class="footer">
    <p>With ♥ from <a href="http://cannoneyed.github.io">Andy</a></p>
  </div>
</div>









