.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;

  img.pull-right {
    width: 50px;
  }
}

.jumbotron.stage {
  min-height: 600px;
  position: relative;
}

.footer-base {
  position: absolute;
  bottom: -40px;
  left: 0px;
  width: 100%;
}

.bucket {
  line-height:50px;
}

.letter, .digit {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  min-width: 50px;
  min-height: 50px;
  background-color: #FFFFFF;
  margin: 5px;
  font-size: 2em;
  display: inline-block;
  border-radius: 10px;
}

.eightBit.bucket {
  line-height:30px;
}

.eightBit.digit {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  min-width: 27px;
  min-height: 27px;
  // background-color: #FFFFFF;
  margin: 2px;
  font-size: 1.5em;
  display: inline-block;
  border-radius: 3px;
}

.one {
  color: black;
  background-color: #fdfdfd;
}

.zero {
  color: white;
  background-color: #444;
}

.delineated:before {
   content: "";
}

.appendedBit:last-child {
  background-color: red;
  color: white;
}




.repeated-item {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.repeated-item.invisible {
  opacity:0;
}


// .repeated-item.ng-enter, .repeated-item.ng-move {
//   -webkit-transition:0.5s linear all;
//   -moz-transition:0.5s linear all;
//   -o-transition:0.5s linear all;
//   transition:0.5s linear all;
//   opacity:0;
// }

// .repeated-item.ng-enter.ng-enter-active,
// .repeated-item.ng-move.ng-move-active {
//   opacity:1;
// }


// .repeated-item.ng-leave {
//   -webkit-animation:0.5s my_animation;
//   -moz-animation:0.5s my_animation;
//   -o-animation:0.5s my_animation;
//   animation:0.5s my_animation;
// }

// @keyframes my_animation {
//   from { opacity:1; }
//   to { opacity:0; }
// }

// @-webkit-keyframes my_animation {
//   from { opacity:1; }
//   to { opacity:0; }
// }

// @-moz-keyframes my_animation {
//   from { opacity:1; }
//   to { opacity:0; }
// }

// @-o-keyframes my_animation {
//   from { opacity:1; }
//   to { opacity:0; }
// }



// injector
// endinjector
