<div class="container">
  <hashbang-header></hashbang-header>
  <div class="jumbotron text-center stage">
      

    <div class="displayBox"> 

      <div class="thirtyTwoBit bucket">
        <div  class="thirtyTwoBit digit repeated-item" 
              ng-repeat="digit in stepValues track by $index"
              ng-class="{ invisible: !digit.shown, 
                         zero: !digit.value}"
              ng-style="setPosition($index, 32)" >
          {{ digit.value }}
        </div>
      </div>

    

  <div class="eightBit bucket">
    <div class="eightBit digit repeated-item" 
         ng-repeat="digit in word1 track by $index"
         ng-class="{ invisible: !digit.shown, zero: !digit.value, delineated: $index % 8 === 0}"
         ng-style="setWordPosition($index, 32, 400, 200)">
      {{ digit.value }}
    </div>
  </div>

  <div class="eightBit bucket">
    <div class="eightBit digit repeated-item" 
         ng-repeat="digit in word2 track by $index"
         ng-class="{ invisible: !digit.shown, zero: !digit.value, delineated: $index % 8 === 0}"
         ng-style="setWordPosition($index, 32, 400, 300)">
      {{ digit.value }}
    </div>
  </div>

  <div class="eightBit bucket">
    <div class="eightBit digit repeated-item" 
         ng-repeat="digit in word3 track by $index"
         ng-class="{ invisible: !digit.shown, zero: !digit.value, delineated: $index % 8 === 0}"
         ng-style="setWordPosition($index, 32, 400, 400)">
      {{ digit.value }}
    </div>
  </div>

  <div class="eightBit bucket">
    <div class="eightBit digit repeated-item" 
         ng-repeat="digit in word4 track by $index"
         ng-class="{ invisible: !digit.shown, zero: !digit.value, delineated: $index % 8 === 0}"
         ng-style="setWordPosition($index, 32, 400, 500)">
      {{ digit.value }}
    </div>
  </div>


  <div class="label label1">{{ counter - 16 }}</div>
  <div class="label label2">{{ counter - 14 }}</div>
  <div class="label label3">{{ counter - 8 }}</div>
  <div class="label label4">{{ counter - 3 }}</div>

<!--   <div class="label label3">{{ counter - 8 }}</div>
  <div class="label label4">{{ counter - 3 }}</div> -->

    </div>


    <div class="pointer pointer1" ng-style="pointer1">-</div>
    <div class="pointer pointer2" ng-style="pointer2">-</div>
    <div class="pointer pointer3" ng-style="pointer3">-</div>
    <div class="pointer pointer4" ng-style="pointer4">-</div>

    <div class="counter"> i = {{ counter }} </div>

    <div ng-include="'app/navbar/navbar.html'"></div>




      </div>
      <hr>
      <div class="footer">
        <p>With ♥ from <a href="http://cannoneyed.github.io">Andy</a></p>
      </div>
    </div>