<div class="container">
  <hashbang-header></hashbang-header>
  <div class="jumbotron text-center stage">
      

    <div class="displayBox"> 

      <div class="eightBit bucket">
        <div class="eightBit digit repeated-item" 
             ng-repeat="digit in k1 track by $index"
             ng-class="{ invisible: !digit.shown, zero: !digit.value, delineated: $index % 8 === 0}"
             ng-style="setWordPosition($index, 32, 250, 100)">
          {{ digit.value }}
        </div>
      </div>
  
      <div class="eightBit bucket">
        <div class="eightBit digit repeated-item" 
             ng-repeat="digit in B track by $index"
             ng-class="{ invisible: !digit.shown, zero: !digit.value, delineated: $index % 8 === 0}"
             ng-style="setWordPosition($index, 32, 250, 200)">
          {{ digit.value }}
        </div>
      </div>

      <div class="eightBit bucket">
        <div class="eightBit digit repeated-item" 
             ng-repeat="digit in C track by $index"
             ng-class="{ invisible: !digit.shown, zero: !digit.value, delineated: $index % 8 === 0}"
             ng-style="setWordPosition($index, 32, 250, 250)">
          {{ digit.value }}
        </div>
      </div>

      <div class="eightBit bucket">
        <div class="eightBit digit repeated-item" 
             ng-repeat="digit in notB track by $index"
             ng-class="{ invisible: !digit.shown, zero: !digit.value, delineated: $index % 8 === 0}"
             ng-style="setWordPosition($index, 32, 250, 400)">
          {{ digit.value }}
        </div>
      </div>

      <div class="eightBit bucket">
        <div class="eightBit digit repeated-item" 
             ng-repeat="digit in D track by $index"
             ng-class="{ invisible: !digit.shown, zero: !digit.value, delineated: $index % 8 === 0}"
             ng-style="setWordPosition($index, 32, 250, 450)">
          {{ digit.value }}
        </div>
      </div>

      <div class="eightBit bucket">
        <div class="eightBit digit repeated-item" 
             ng-repeat="digit in result1 track by $index"
             ng-class="{ invisible: !digit.shown, zero: !digit.value, delineated: $index % 8 === 0}"
             ng-style="setWordPosition($index, 32, 250, 300)">
          {{ digit.value }}
        </div>
      </div>

      <div class="eightBit bucket">
        <div class="eightBit digit repeated-item" 
             ng-repeat="digit in result2 track by $index"
             ng-class="{ invisible: !digit.shown, zero: !digit.value, delineated: $index % 8 === 0}"
             ng-style="setWordPosition($index, 32, 250, 500)">
          {{ digit.value }}
        </div>
      </div>

      <div class="eightBit bucket">
        <div class="eightBit digit repeated-item" 
             ng-repeat="digit in result3 track by $index"
             ng-class="{ invisible: !digit.shown, zero: !digit.value, delineated: $index % 8 === 0}"
             ng-style="setWordPosition($index, 32, 250, 550)">
          {{ digit.value }}
        </div>
      </div>



      <div class="label algo label1" style="left: 200px; top: 82px;">K</div>
      <div class="label algo label1" style="left: 200px; top: 182px;">B</div>
      <div class="label algo label1" style="left: 200px; top: 232px;">C</div>
      <div class="label algo label1" style="left: 200px; top: 382px;">!B</div>
      <div class="label algo label1" style="left: 200px; top: 432px;">D</div>

      <div class="label label1" style="left: 200px; top: 282px;">&</div>
      <div class="label label1" style="left: 200px; top: 482px;">&</div>
      <div class="label result1 label1" style="left: 200px; top: 532px;">(B&C)</br>OR<br/>(!B&D)</div>


      <div class="equation"></div>
  


</div>

<div ng-include="'app/navbar/navbar.html'"></div>




      </div>
      <hr>
      <div class="footer">
        <p>With ♥ from <a href="http://cannoneyed.github.io">Andy</a></p>
      </div>
    </div>