<div class="displayBox"> 

  <div class="line-highlight" 
       ng-repeat="line in step7Lines"
       ng-style="setHighlightPosition(line)">
  </div>

  <div class="eightBit bucket">
    <div  class="eightBit digit repeated-item" 
          ng-repeat="digit in stepValues track by $index"
          ng-class="{ invisible: !digit.shown, 
                     zero: !digit.value, 
                     delineated: $index % 8 === 0}"
          ng-style="setPosition($index, 32)" >
      {{ digit.value }}
    </div>
  </div>

</div>

<div ng-include="'app/navbar/navbar.html'"></div>
